@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

[contenteditable='true']:focus-visible,
[contenteditable='true']:focus {
  outline: none;
}

[contenteditable]:empty:after {
  content: attr(data-ph);
  color: rgba(0, 0, 0, 0.2);
  cursor: text;
}

.ghost {
  opacity: 1;
  background: #F5F5F5;
}
